<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/newlogin.css">

    <head>

    </head>

    <body>
        <div class="header1">Education Login</div>
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log
                    IN</label>
                <input id="tab-2" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="message">
                            <% if(errormessage){%>
                                <%= errormessage%>
                                    <%}%>
                        </div>
                        <form class="form form-login" action="/edu/login" method="post">
                            <div class="group">
                                <label for="user" class="label">Email</label>
                                <input id="user" type="email" class="input" name="email" value="<%= olddata.email%>">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Password</label>
                                <input id="pass" type="password" class="input" data-type="password" name="password"
                                    value="<%= olddata.password%>">
                            </div>
                            <div class="group">
                                <br>
                                <!-- <input id="check" type="checkbox" class="check" checked>
                                <label for="check"><span class="icon"></span> Keep me Signed in</label> -->
                            </div>
                            <div class="group">
                                <!-- <button type="submit"> -->
                                <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                                <input type="submit" class="button" value="Log In"  style="font-family: 'Roboto Slab';">
                                <!-- </button> -->
                            </div>
                            <!-- <div class="hr"></div> -->

                    </div>
                    </form>
                </div>
            </div>
        </div>


        <%- include('../includes/end.ejs')%>