<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/form.css">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            display: none;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/nav.ejs')%>
            <main>
                <div class="header1">
                    <h1>Add Marksheet</h1>
                </div>
                <form action="/admin/postmarksheet" method="post" class="product-form" enctype="multipart/form-data"  >
                    <% if(errormessage){%>
                        <%= errormessage%>
                            <%}%>

                                <div class="nice-form-group">
                                    <label for="marksheet">Marksheet link</label>
                                    <input type="file" id="filew" name="marksheetlink" required
                                        value="<%= olddata.marksheet%>">
                                </div>
                                <div class="nice-form-group">
                                    <label for="std">Std</label>
                                    <input type="number" name="std" min="1" required value="<%= olddata.std%>">
                                </div>
                                <div class="nice-form-group">
                                    <label for="result">Result</label>
                                    <select name="result" id="">
                                        <option value="<%= olddata.result%>">
                                            <%= olddata.result%>
                                        </option>
                                        <option value="<%= olddata.result === 'Fail' ? 'Pass' : 'Fail' %>">
                                            <%= olddata.result==='Fail' ? 'Pass' : 'Fail' %>
                                        </option>
                                    </select>
                                </div>
                                <input type="hidden" name="studentid" value="<%= olddata.studentid%>">
                                <button type="submit" class="btn btn-primary" onclick="myFunction()">
                                    <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                                    <!-- <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>"> -->
                                    Add Marksheet
                                </button>
                </form>
            </main>
            <script>
                let data;
                document.getElementById('filew').addEventListener("change", (e) => {
                    const file = e.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onloadend = () => {
                            data = reader.result
                            console.log(data);
                        };
                    }
                });

                function myFunction() {
                    var x = document.getElementById('filew');
                    if (x.type === "file") {
                        x.type = "text";
                        x.value = data;
                        //     // alert(data);
                    } else {
                        x.type = "file";
                    }
                    //  fi.value=data;
                }
                // const myFunction = (e) => {
                //     e.preventDefault();
                //     console.log(data)
                //     console("this function is called")
                //     fetch('http://localhost:3003/admin/postmarksheet', {
                //         marksheet: data,
                //         std: std,
                //         result: result
                //     })
                // }
            </script>
            <%- include('../includes/end.ejs')%>