<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/form.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs')%>
        <main>
            <div class="header">
                <h1>Add marksheet</h1>
            </div>
            <form action="/admin/postmarksheet" method="post" class="product-form">
                <div class="nice-form-group">
                    <label for="marksheet">Marksheet link</label>
                    <input type="text" name="marksheetlink">
                </div>
                <div class="nice-form-group">
                    <label for="std">Std</label>
                    <input type="number" name="std">
                </div>
                <div class="nice-form-group">
                    <label for="result">Result</label>
                    <select name="result" id="">
                        <option value="Pass">Pass</option>
                        <option value="Fail">Fail</option>
                    </select>
                </div>
                <input type="hidden" name="studentid" value="<%= studentdata._id%>">
                <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-primary">
                    Add Marksheet
                </button>
            </form>
        </main>
        <%- include('../includes/end.ejs')%>