<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/reqdocument.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs')%>
            <div class="main-div">
                <% for ( let data of list){%>
                    <div class="detail-box">
                        <div class="p-detail">
                            <lable>Name</lable>: <%= data.name%> <br>
                                <lable>Aadhaar No</lable>: <%= data.adharno%> <br>
                                    <lable>Document</lable>: <%= data.documenttype%> <br><br>
                        </div>
                        <form action="/admin/deletedocument" method="post">
                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-trash"></i></button>
                            <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                            <input type="hidden" value="<%=data._id %>" name="productId">
                        </form>
                        <form action="/admin/requestdocument" method="post">
                            <input type="hidden" value="<%=data.adharno %>" name="adharno">
                            <input type="hidden" value="<%=data._id %>" name="productId">
                            <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-primary">View Detail</button>
                        </form>
                    </div>


                    <% }%>
            </div>


            <%- include('../includes/end.ejs')%>