<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/search.css">
  </head>

  <body>
    <%- include('../includes/nav.ejs')%>
      <main>
        <!-- <div class="main_container">
                <form action="/admin/viewdata" method="post" class="search-container">
                    <input type="text" name="search" placeholder="search id here...">
                    <button type="submit"><i class='bx bx-search'></i></button>
                </form>
            </div> -->
            <div class="header1 nine">
              <h1>Student Academic Portal <span>Admin Login</span></h1>
            </div>
        <div class="message" style="text-align: center; font-size: 30px;">
          <% if(errormessage){%>
              <%= errormessage%>
                  <%}%>
      </div>
        <div id="cover">
          <form method="post" action="/admin/viewdata">
            <div class="tb">
              <div class="td"><input type="text" placeholder="Enter Adhar ID" required name="search"></div>
              <div class="td" id="s-cover">
                <button type="submit" class="search-btn">
                  <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                  <div id="s-circle"></div>
                  <span></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </main>
      <%- include('../includes/end.ejs')%>