<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/viewprofile.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs')%>
            <main>
                <div class="header1 nine">
                    <h1>
                        Student Detail
                    </h1>
                </div>

                <!-- jdajsdjajsda -->
                <!-- Main -->
                <div class="student-info">
                    <div class="student-detail">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.name%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>email</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.email%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mobile no</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.mobileno%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dob</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.Dob%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.xender%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aadhaarno</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.adharno%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- agagagsdgagsdg -->

                <h2 style="text-align: center; font-size: 40px;">Add Marksheet</h2>
                <div class="main-container">
                    <div class="item">
                        <div class="item-1">
                            <input type="hidden" value="<%= studentdata._id%>" name="studentid">
                            <a href="/admin/editid/<%= studentdata._id%>">
                                <button type="submit"><i class="fa-solid fa-user-pen"></i>
                                    <div class="detail">
                                        <br>
                                        <h3>
                                            Update
                                            Detail
                                        </h3>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-1">
                            <a href="/admin/addmarksheet/<%= studentdata._id%>">
                                <button type="submit"><i class="fa-solid fa-folder-plus"></i>
                                    <div class="detail1">
                                        <br>
                                        <h3>
                                            Add Marksheet
                                        </h3>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs')%>