<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/viewprofile.css">
    </head>

    <body>

        <main>
            <%- include('../includes/snav.ejs')%>
                <div class="header1 nine">
                    <h1>Student Detail</h1>
                </div>
                <div class="student-info">
                    <div class="student-detail">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>:</td>
                                    <td>
                                        <%= detail.name%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>email</td>
                                    <td>:</td>
                                    <td>
                                        <%= detail.email%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mobile no</td>
                                    <td>:</td>
                                    <td>
                                        <%= detail.mobileno%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dob</td>
                                    <td>:</td>
                                    <td>
                                        <%= detail.Dob%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>:</td>
                                    <td>
                                        <%= detail.xender%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Adharno</td>
                                    <td>:</td>
                                    <td>
                                        <%= detail.adharno%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="wrapper">
                    <div id="myModal" class="modal">
                        <div class="modal-content1">
                            <div class="backdrop">
                                <div class="popup">
                                    <img src="" class="popup-image" id="modal-image" />

                                </div>
                            </div>
                            <div class="close"><i class="fa-solid fa-circle-xmark"></i></div>
                        </div>
                    </div>
                </div>

                <div class="marksheet-data">
                    <% if (detail.cart.items.length> 0){%>
                        <!-- <div class="card2"> -->
                        <% for(let data of detail.cart.items){%>
                            <!-- <div class="box card-body"> -->
                            <div class="box">
                                <div class="box-img">
                                    <img src="<%= data.marksheet%>" class="card-img-top" alt="..." id="imageBox1"
                                        onclick="resetImg(event)">
                                </div>
                                <div class="box-detail">
                                    <h5>Std: <%=data.std%>
                                    </h5>
                                    <p>Status: <%=data.result%>
                                    </p>
                                    <form action="/download" method="post">
                                        <button type="submit" class="btn btn-primary">Download</button>
                                        <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                                        <input type="hidden" name="studentid" value="<%= detail._id%>">
                                        <input type="hidden" name="marksheetid" value="<%= data._id%>">
                                    </form>
                                </div>
                                <!-- </div> -->
                            </div>

                            <%}%>
                                <!-- </div> -->
                                <%}else{%>
                                    <div class="card2">
                                        <p>No marksheet ..</p>
                                    </div>
                                    <%}%>
                </div>
        </main>
        
        <script src="/js/image.js"></script>
        <%- include('../includes/end.ejs')%>