<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/form.css">
    </head>

    <body>
        <%- include('../includes/enav.ejs')%>
            <main>
                <div class="header1">
                    <h1>
                        <% if(editing){ %> Edit New Institute <%}else{%> Add New Institute <%}%>

                    </h1>
                </div>
                <!-- <section class="forms-section">
                <h1 class="section-title">AdminSign UP</h1>
                <div class="forms">
                    <div class="form-wrapper is-active">
                        <button type="button" class="switcher switcher-signup">
                            Sign Up
                            <span class="underline"></span>
                        </button>
                        <form class="form form-signup" action="/edu/addinstitute" method="post">
                            <fieldset>
                                <legend>Please, enter your email, password and password confirmation for sign up.
                                </legend>
                                <div class="input-block">
                                    <label for="signup-email">E-mail</label>
                                    <input id="signup-email" type="email" name="email" required>
                                </div>
                                <div class="input-block">
                                    <label for="signup-password">Password</label>
                                    <input id="signup-password" type="password" name="password" required>
                                </div>
                                <div class="input-block">
                                    <label for="signup-password-confirm">Confirm password</label>
                                    <input id="signup-password-confirm" type="password" name="confirmpassword" required>
                                </div>
                            </fieldset>
                            <button type="submit" class="btn-signup">
                                <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                                Continue</button>
                        </form>
                    </div>
                </div>
            </section> -->

                <form action="/edu/<% if(editing){%>editdetail<%}else{%>addinstitute<%}%>" method="post"
                    class="product-form">
                    <% if(errormessage){%>
                        <%= errormessage%>
                            <%}%>
                                <div class="nice-form-group">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" placeholder="Enter Your name"
                                        oninput="this.value = this.value.toUpperCase()"
                                        value="<% if (editing) {%><%=product.name %><%}else{%><%= olddata.name%><%}%>"
                                        required>
                                </div>
                                <div class="nice-form-group">
                                    <label for="mobileno">Mobile No</label>
                                    <input type="tel" name="mobileno"
                                        value="<% if (editing) {%><%=product.mobileno %><%}else{%><%= olddata.mobileno%><%}%>"
                                        class="icon-left" placeholder="Your Phone Number" pattern="[0-9]{10}" required>
                                </div>
                                <div class="nice-form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email"
                                        value="<% if (editing) {%><%=product.email %><%}else{%><%= olddata.email%><%}%>"
                                        class="icon-left" placeholder="www.xyz.com" required>
                                </div>
                                <div class="nice-form-group">
                                    <label for="indexno">Index Number</label>
                                    <!-- <input type="text" name="indexno" placeholder="XXXX XXXX XXXX"> -->
                                    <% if (editing) {%>
                                        <input type="text" name="indexno" readonly value="<%=product.indexno %>"
                                            placeholder="XXXX XXXX XXXX">
                                        <%}else{ %>
                                            <input type="text" name="indexno" value="<%= olddata.indexno%>"
                                                placeholder="XXXX XXXX XXXX" required>
                                            <%}%>
                                </div>
                                <div class="nice-form-group">
                                    <label for="signup-password">Password</label>
                                    <input type="password" name="password"
                                        value="<% if (editing) {%><%=product.password %><%}%>"
                                        placeholder="XXXX XXXX XXXX" class="icon-left" required>
                                </div>
                                <% if (editing){%>
                                    <input type="hidden" value="<%= product._id%>" name="instituteid">
                                    <%}%>
                                        <button class="btn btn-primary" type="submit">
                                            <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                                            <% if(editing){%>Edit Institute<%}else{%> Add Institute <%}%>
                                        </button>
            </main>
            <%- include('../includes/end.ejs')%>