<%- include('../includes/head.ejs')%>
  <link rel="stylesheet" href="/css/search.css">
  </head>

  <body>
    <%- include('../includes/enav.ejs')%>
      <main>
        <div class="header1 nine">
          <h1>Student Academic Portal</h1>
        </div>
        <div class="message" style="text-align: center; font-size: 30px; color:whitesmoke;">
          <% if(errormessage){%>
            <%= errormessage%>
              <%}%>
        </div>
        <div id="cover">
          <form method="post" action="/edu/searchbyid">
            <div class="tb">
              <div class="td"><input type="text" placeholder="Enter E-mail ID" required name="search"></div>
              <div class="td" id="s-cover">
                <button type="submit" class="search-btn">
                  <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                  <div id="s-circle"></div>
                  <span></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </main>
      <%- include('../includes/end.ejs')%>