<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/viewprofile.css">
    </head>

    <body>
        <%- include('../includes/enav.ejs')%>
            <main>
                <div class="heading">Student Detail</div>

                <!-- jdajsdjajsda -->
                <!-- Main -->

                <div class="student-info">
                    <div class="student-detail">

                        <table>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.name%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.email%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mobile No</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.mobileno%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Index No</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata.indexno%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Admin Id</td>
                                    <td>:</td>
                                    <td>
                                        <%= studentdata._id%>
                                    </td>
                                </tr>
                                <!-- <tr>
                                        <td>Adhar No</td>
                                        <td>:</td>
                                        <td>
                                            <%= studentdata.adharno%>
                                        </td>
                                    </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <h2 style="text-align: center; font-size: 40px;">Add Marksheet</h2>
                <!-- agagagsdgagsdg -->

                <div class="main-container">
                    <div class="item">
                        <div class="item-1">
                            <input type="hidden" value="<%= studentdata._id%>" name="studentid">
                            <a href="/edu/editid/<%= studentdata._id%>">
                                <button type="submit"><i class="fa-solid fa-user-pen"></i>
                                    <div class="detail">
                                        <br>
                                        <h3>
                                            Update
                                            Detail
                                        </h3>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-1">
                            <a href="/edu/searchbox">
                                <button type="submit"><i class="fa-solid fa-folder-plus"></i>
                                    <div class="detail1">
                                        <br>
                                        <h3>
                                            Change Accessed
                                        </h3>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs')%>